@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

bg-1{
    background-image: url(./assets/testi1.jpg);
}
bg-2{
    background-image: url(./assets/testi2.jpg);
}
bg-3{
    background-image: url(./assets/testi3.jpg);
}